@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body{
  background: linear-gradient(to bottom, #594cee 0%, #8dd0f5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Container{
  background-color: #5c54ed;
  border-radius: 1rem;
  box-shadow: #0000003d 0px 3px 8px;
  padding: 2rem;
  color: #FDFDFD;
}

.Form{
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #FFF;
}

.Form h3{
  margin-bottom: 1rem;
  font-size: 1rem;
}

.Form > div{
  display: flex;
}

.Form input{
  padding: .8rem;
  border: none; 
  outline: none;
  flex: 1; /*flex: 1, 1, auto*/
  border-radius: 4px;
}

.Form button{
  padding: .8rem;
  min-width: 50px;
  margin-left: 8px;
  background-color: #8dd0f5;
  color: #FFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#weather-data{
  display: none;
  text-align: center;
}

#weather-data h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .6rem;
}

#weather-data h2 span{
  margin: 0.6rem;
}

#flag{
  height: 30px;
}

#temperature{
  font-size: 2rem;
}

#description-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;
}

#details-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#details-container #humidity{
  border-right: 1px solid #FFF;
  padding-right: .6rem;
  margin-right: .6rem;
}

#humidity, #wind{
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 30px 30px 30px;
  gap: 20px;
}

#grid-container button{
  cursor: pointer;
  background-color: #8dd0f5;
  border: none;
  border-radius: 15px;
  box-shadow: #0000003d 0px 3px 8px;
  color: #FFF;
  font-weight: 600;
  text-shadow: #00000059 1px 1px 2px;
}

#error-message{
  display: none;
  max-width: 400px;
}

#loading{
  display: none;
  justify-content: center;
}
